<section class="blogs">
	<div class="blogs__container">


		<h2 class="blogs__container__title">Tips & Tricks</h2>


		<div class="blogs__container__items">

			<div class="blogs__container__items__post">
				{% include '../assets/images/post-image1.svg'%}

				<div class="blogs__container__items__post_content">
					<h5>How to create a living room to love</h5>

					<time> </time>

				</div>

			</div>

		</div>


	</div>



</section>
