<section class="other-rooms">

<div class="other-rooms__container">

	<div class="other-rooms__container__content">
		<h2 class="other-rooms__container__content__title">50+ Beautiful rooms inspiration</h2>
		<p class="other-rooms__container__content__subtitle">Our designer already made a lot of beautiful prototipe of rooms that inspire you</p>
		<a class="other-rooms__container__content__link" href=""> Explore More</a>
	</div>

	<div class="other-rooms__container__slide1">
		{% include '../assets/images/slide.svg'%}
			
	</div>

	<div class="other-rooms__container__slide2"> 


		{% include '../assets/images/slider2.svg'%}
			
		<div class="other-rooms__container__slide2__icons">
			
			
			{% include '../assets/images/dot.svg'%}

			
		</div>

	</div>

</div>



</section>


