<section class="share">
    <div class="share__titles">
        <span>Share your setup with</span>
        <h2>#FuniroFurniture</h2>
    </div>
    <div class="share__container">
        
    </div>
</section>