.headerwrap {
	font-family: "Gilroy-Regular", sans-serif;
	display: flex;
	justify-content: center;

	&__top {
		display: flex;
		justify-content: space-between;
		min-width: 1400px;

		&__container {
			display: flex;
			align-items: center;

			&__txt {
				flex-direction: column;
				justify-content: center;
				align-items: center;
				line-height: 27px;
				margin-left: 24px;

				&__topic {
					font-family: "Gilroy-Semibold", sans-serif;
					font-size: 18px;
					color: #3a3a3a;
					margin: auto;

					&__explanation {
						color: #898989;
						margin: auto;
						font-size: 16px;
					}
				}
			}
		}
	}
}

.products {
	font-family: "Gilroy-Regular", sans-serif;
	background-color: royalblue;

	&__top {
		text-align: center;
		background-color: sandybrown;

		&__container {
			display: flex;
			background-color: sienna;

			&__info {
				background-color: #f4f5f7;

				&__txt {
					background-color: skyblue;

					&__price {
						display: flex;
						background-color: springgreen;
						float: left;
					}
					&__fixprice {
						display: flex;
						background-color: tomato;
					}
				}
			}
		}
	}
}
