$rem-baseline: 16;

$home-bgcolor: #ffc0cb;


/* Start Header Variables*/
$header-bgcolor:#f9f1e7 ;
$header-fz:24px;
$header__title-color:#3A3A3A;



/* End Header Variables*/
// :root {
// 	--home-color: #ffc0cb;
// }
