$rem-baseline: 16;

$home-bgcolor: #ffc0cb;



// :root {
// 	--home-color: #ffc0cb;
// }






























/* share starts */

/* share ends */
/* footer starts */
$footer-txt-color: #616161;
$footer-input-bgc: #F4F5F7;
$footer-placeholder-color: #828282;
$footer-svg-bgc: #E89F71
/* footer ends */

