$header-bgcolor:white;
$rem-baseline: 16;
$rooms-bgcolor:#FCF8F3;
$home-bgcolor: #ffc0cb;
$btn-bgcolor:#E89F71;
$subtitle-color:#616161;
$title-color:#3A3A3A;




// :root {
// 	--home-color: #ffc0cb;
// }
